# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.test

# Testing
playwright-report/
test-results/
tests/e2e/auth-mock.ts
tests/e2e/test-config.ts
scripts/
.env.test

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignorar la carpeta de la extensión temporalmente
extension/

telegram-bot/

# Ignorar resultados de tests de Playwright y otras carpetas de resultados
/test-results*/

# Ignorar screenshots de debug
debug*.png